/*
// General
*/
.visuallyhidden(){
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

*{
    -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

html, body{
    height: 100%;
}

body{
    line-height: 1.4;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    counter-reset: section;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 2.75em;
}

h3{
    font-size: 2.25em;
    &:before {
      counter-increment: section;
      content: counter(section) ". ";
    }
}

a{
    color: #9F607F;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid;

    &:hover{
        border-bottom: 4px solid;
    }
}

.section{
    background-color: #e7e1d5;
    color: #52524C;

    position: relative;

    box-shadow: inset 0 60px 0 rgba(0,0,0,.1) , inset 0 40px 0 rgba(0,0,0,.1) ,inset 0 20px 0 rgba(0,0,0,.1);

    h2, h3{
        color: #523343;
    }
}

.section-fixed{
    min-height: 100%;
}

.content{
    padding: 4em 5%;
    margin: auto;

    padding-top: 8em;
}


.darker{
    background-color: #DAD5C9;

    + .section{
        box-shadow: none;
    }
}

.blue{
    background-color: #1bafce;
    color: #F2F0EB;
}

.purple{
    background-color: #543343;
    color: #E5DFD2;

    h2{
        color: #1AAECD;
    }
}

.btn{
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #1bafce;
    font-size: 1.25em;
    line-height: 3.75em;
    padding: 0 2em;
    box-shadow: 0 5px 0 rgba(0,0,0,.3);

    &:hover{
        border: none;
        background-color: darken(#1bafce, 10%);
    }

    &:active{
        transform: translateY(5px);
        box-shadow: none;
    }
}

/*
// Header
*/

.header{
    background: #543343 url(../img/bg.jpg) no-repeat center;
    background-size: auto 100%;

    .ie-8 &{
        background-image: none;
    }
}

h1{
    .visuallyhidden();
}

.nav{
    display: none;

    ul{
        padding: 0;
        line-height: 2.4;
    }

    li{
        display: inline-block;
        list-style: none;
        text-transform: uppercase;
        margin-left: 2em;

        &:first-child{
            margin-left: 0;
        }
    }

    a{
        color: #E5DFD2;
        border-bottom: none;

        &:hover{
            border-bottom: 3px solid;
        }
    }
}

.headline{
    clear: both;
    font-size: 2em;
    max-width: 16em;

    strong{
        color: #DF85B2;
    }

    em{
        font-style: normal;
        font-weight: 100;
        color: #DF85B2;
    }
}

.contact-btn{
    margin-top: 1.8em;
    display: block;
    text-align: center;
}

/*
// About
*/

#sobre{
    padding: 12em 0 16em;

    .content{
        &:before{
            content: url(../img/rocket.png);
            display: block;
            top: -80px;
            position: absolute;
            max-width: 100%;
        }


        &:after{
            content: url(../img/building.png);
            position: absolute;
            bottom: -5px;
        }
    }
}

.about-title{
    .visuallyhidden();
}

.about-intro{
    font-size: 1.625em;
}

/*
// Methodology
*/

#metodologia{
    z-index: 2;
    padding-bottom: 4em;

    &:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -170px;
        left: 50%;
        width: 0;
        margin-left: -85px;
        border: 85px solid transparent;
        border-top-color: #DAD5C9;
    }
}

.slide + .slide{
    display: none;
}

/*
// Technology
*/

#tecnologia{
    .content{
        overflow: hidden;
    }

    .col-right{
        float: right;

        p{
            padding-bottom: 2em;
        }
    }
}

.tech-list{
    padding: 0;
    text-align: center;

    li{
        border: 6px solid #DAD5C9;
        display: inline-block;
        list-style: none;
        border-radius: 50%;
        width: 62px;
        height: 62px;
        padding: 14px;
        margin: 0 0.25em 1em;
        vertical-align: middle;
        text-align: center;
    }

    img{
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*
// Contact us
*/

.contact-us{
    h2{
        .visuallyhidden();
    }

    p{
        font-size: 1.4em;
        text-align: center;
    }

    a{
        color: #533343;
    }
}


/*
// Media queries
*/

@media (min-width: 480px) {
    h2{
        font-size: 3.5em;
    }

    .col-right{
        margin-left: auto;
        text-align: right;
    }
    .header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }

    #sobre{
        margin-top: 700px;
    }

    .logo{
        margin-bottom: 20%;
    }

    .nav{
        display: block;
    }

    .headline{
        background: url(../img/arrow.png) no-repeat center left;
        padding-left: 1em;
    }

    #sobre .col{
        text-align: left;
    }

    .contact-us{
        .content{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40%;
        }

        p{
            font-size: 2em;
        }
    }
}

@media (min-width: 670px) {
    .logo{
        float: left;
    }

    .nav{
        float: right;
    }

    .headline{
        float: left;
    }

    .contact-btn{
        float: right;
    }
}

@media (min-width: 768px) {
    .col{
        max-width: 38%;
    }

    #sobre{
        padding: 0;
    }


    #sobre .col{
        max-width: 59%;
    }

    #metodologia-detalhe .col{
        max-width: 52%;
    }

    #metodologia .content{
        background: url(../img/blender.png) no-repeat bottom right;
    }

    #time{
        &:before{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            border: 300px solid transparent;
            border-right-color: #4A2D3A;
            border-bottom-color: #4A2D3A;
        }

        &:after{
            content: url(../img/team.png);
            position: absolute;
            right: 90px;
            bottom: 105px;
        }
    }

    .tech-list{
        max-width: 400px;
        margin-top: 7em;
    }
}

@media (min-width: 820px) {
    #tecnologia .col-right:after{
        content: url(../img/technology.png);
    }
}

@media (min-width: 980px) {
    .content{
        width: 60.625em;
        padding: 5em 0.313em 4em;
    }

    .contact-btn{
        padding: 0 5em;
    }

    #sobre{
        margin-top: 768px;
    }
}